body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #011725; 
}

.container {
    display: flex;
    justify-content: space-between; 
}

#pdfViewer {
    width: 50%;
    height: 100vh;
    background-color: #011725 ; 
    position: relative;
}

#javaCompiler {
    width: 50%;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    background-color: #011725; 
    color: #fff; 
    position: relative;
}

#javaCompiler h2 {
    color: #fff; 
}

#codeEditor {
    position: relative;
}

#javaCode {
    width: calc(100% - 40px); 
    padding-left: 40px; 
    padding-top: 10px; 
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-family: monospace; 
    color: #011725; 
    background-color: #fff; 
}

#lineNumbers {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30px; 
    padding-top: 10px; 
    background-color: #011725; 
    color: #fff; 
    text-align: center;
    border-right: 1px solid #011725;
    border-radius: 5px 0 0 5px;
}

button {
    padding: 10px 20px;
    background-color: #011725; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #023453; 
}

#outputContainer {
    margin-top: 20px;
}

#outputMessage {
    font-weight: bold;
}

#outputData {
    white-space: pre-wrap;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    max-height: 60vh;
    overflow-y: auto;
    color: #000;
}
